<div class="hero">
  <div class="mx-auto max-w-lg px-8 py-10 md:py-16 lg:max-w-6xl lg:py-20">
    <div class="text-center">
      <img src="../../../assets/img/photo-profile.png"
        class="mx-auto mb-8 h-40 rounded-full shadow-md dark:shadow-white md:h-60 lg:h-80" alt="" />
      <h1 class="text-4xl font-bold tracking-tight text-dark-blue dark:text-slate-100 sm:text-6xl lg:text-8xl">
        {{ "I'm " }}Laska Adief
      </h1>
      <h3 class="mt-2 text-2xl font-light tracking-tight text-indigo-600 sm:text-4xl lg:text-6xl">
        Frontend Developer
      </h3>
      <p class="mt-10 text-lg leading-8 text-gray-900 dark:text-gray-200 lg:text-2xl">
        I'm on a mission to bring your wildest web dreams to life! Whether
        you're looking for a sleek and simple website or a complex, interactive
        application, I've got you covered.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="#projects"
          class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 lg:text-lg">
          My Projects</a>
        <a href="../../../assets/RESUME - Muhammad Laska Adief Amrullah.pdf" download target="_blank"
          class="rounded border px-3.5 py-2.5 text-sm font-semibold text-gray-900 hover:bg-slate-100 dark:text-slate-200 dark:hover:text-gray-900 lg:text-lg">Download
          CV
          <fa-icon [icon]="faDownload"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>