<nav class="sticky top-0 bg-gray-200 py-3 dark:bg-dark-blue dark:text-slate-50 lg:py-6">
  <div class="px-6 sm:px-6 md:flex md:items-center md:justify-between lg:px-10">
    <div class="flex items-center justify-between text-2xl">
      <a href="#home" class="brand cursor-pointer lg:text-4xl">
        <img src="../../../assets/img/brand.png" class="w-12" alt="">
      </a>
      <div class="hamburger-icon cursor-pointer md:hidden" (click)="onClickMenuIcon()">
        <fa-icon [icon]="faBars" *ngIf="!isMenuOpen"></fa-icon>
        <fa-icon [icon]="faTimes" *ngIf="isMenuOpen"></fa-icon>
      </div>
    </div>
    <ul
      class="absolute left-0 w-full px-6 transition-all duration-300 ease-in-out dark:bg-dark-blue md:static md:flex md:w-auto md:translate-y-0 md:items-center md:gap-4 md:px-0"
      [ngClass]="isMenuOpen ? 'translate-y-0' : '-translate-y-60'">
      <li class="my-4 md:my-0">
        <a href="#home" class="text-base hover:text-indigo-600 dark:hover:text-slate-300 lg:text-xl">Home</a>
      </li>
      <li class="my-4 md:my-0">
        <a href="#projects" class="text-base hover:text-indigo-600 dark:hover:text-slate-300 lg:text-xl">Projects</a>
      </li>
      <li class="my-4 md:my-0">
        <a href="#contact" class="text-base hover:text-indigo-600 dark:hover:text-slate-300 lg:text-xl">Contact</a>
      </li>
      <div class="cursor-pointer text-2xl transition-all duration-300 ease-in-out hover:scale-125" (click)="toggleTheme()">
        <fa-icon [icon]="faMoon" *ngIf="isDarkTheme"></fa-icon>
        <fa-icon [icon]="faSun" *ngIf="!isDarkTheme"></fa-icon>
      </div>
    </ul>
  </div>
</nav>
